body {
    background-color: #75ae89;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: hsl(0, 89%, 4%);
}

h1, h2 {
    text-align: center;
    color: #141414;
}

.logo {
    display: block;
    margin: auto;
    width: 200px;
    border: 10px solid rgb(14, 14, 14);
    padding: 5px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.menu-box {
    width: 45%;
    border: 2px solid rgb(11, 11, 11);
    padding: 15px;
}

p {
    font-size: 20px;
}

ul, ol {
    padding-left: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 2px solid rgb(21, 20, 20);
    padding: 10px;
}

th {
    background-color: #3c236d;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
}

input[type="submit"] {
    background-color: darkred;
    color: white;
    cursor: pointer;
}

a{
    color: rgb(68, 0, 255);
    text-decoration: none;
}